html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

nav {
  margin-top: 0px;
  height: 60px;
  width: 100%;

  background-color: #9E3B20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}


.menu {
  margin-left: 20px;
  width: 70%;
  height: 60px;

}

.menu-liste {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items {
  margin: 0 20px;
  font-size: 2rem;
  line-height: 50px;
}

.menu-items a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

.menu-items a::after {
  content: "";
  display: block;
  width: 90%;
  margin-left: 15px;
  height: 1px;
  position: relative;
  top: -5px;
  background-color: wheat;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.menu-items a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu-burger {
  display: none;
}

.identification {
  width: 20%;
}

.identification a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (min-width: 100px) {
  nav {
    margin-top: 0px;
    height: 20px;
    width: 100%;
    position: fixed;
    background-color: #9E3B20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
  }
  
  /* .menu {
    display: none;
  } */

  .menu-liste {
    width:70%;
    height : 100px;
    margin-top: 120px;
    background-color: #9E3B20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-burger {
    width: 50%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .identification {
    width: 50%;
    text-align: center;
  }
  .identification a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-items a {
    font-size: 1rem;
  }
  .menu-items a::after {
    top: -10px;
  }
  .menu-burger {
    display: none;
  }
  .identification a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 10px;
  }
}

@media screen and (min-width: 550px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-items a {
    font-size: 1rem;
  }
  .menu-items a::after {
    top: -10px;
  }
  .identification a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 10px;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-items a {
    font-size: 1.1rem;
  }
  .menu-items a::after {
    top: -10px;
  }
  .identification a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.1rem;
    margin-top: 10px;
  }
}

@media screen and (min-width: 700px) {
  .menu-items {
    font-size: 1.4rem;
  }
  .identification a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 800px) {
  .menu-items {
    font-size: 1.4rem;
    margin-left: 15px;
  }
  .menu-items a {
    font-size: 1.4rem;
    margin-left: 15px;
  }
  .identification a {
    font-size: 1.4rem;
  }
}
/* ////////////////////////////////////////////////
***************ACCUEIL*************************** */
.titre {
  margin-top: 0px;
  height: 170px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

  
}

h1, h2 {
  color: #28429E;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  font-size: 4.5rem;
  font-family: 'Cookie', cursive;
  margin-top: 90px;
}

h2{
  margin-top: 5px;
}
.accueil{
  width: 100%;
  height: 300px;
  margin-top: 30px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 120px 10px 120px 10px;
} 
.header-texte{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header-texte h2{
  margin-top: 10px;
  font-size: 3.5rem;
  font-family: 'Cookie', cursive;
  text-align: center;
}

.header-texte h3{
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: 'Cookie', cursive;
  text-align: center;
}

.header-image{
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px 10px 120px 10px;
}
.header-image img{
  height: 100%;
  align-self: flex-end;
}


/* ///////////////////////////////////////////////////
**********************RECETTES******************** */
.recette{
  width : 100%;
  height: auto;
  font-weight: 500;
  margin-top: 30px;
  /* background-color: rgb(246, 248, 246); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.image_recette{
 width: 100%;
}
.image_recette img{
  margin: auto;
  width: 100%;
  object-fit: cover;
}
.image_cuisinier{
  width: 50%;
  margin: auto;
}
.image_cuisinier img{
  object-fit: cover;
  margin: auto;
  width: 100%;
}

.recette-texte{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0px 20px;
  margin-top: 30px;
  width: 25%;
  min-width: 200px;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  outline: 0.5px solid #9e3b2027;
  box-shadow: 10px 10px 20px #9e3b206e;
  padding: 10px;
  
}

.recette-texte * {
  text-align: justify;
}
.recette-texte:hover {
  transform: translate(5px, 5px);
  box-shadow: 5px 10px 20px #9e3b203a;
  border: 5px solid #9E3B20;
}
.recette-texte:hover h4 {
  display:block;
  color: #9E3B20;
  border-radius: 10px 120px 10px 120px;
  border: 1px solid #9E3B20;

}

.recette-texte h2{
  margin: 10px;
  font-size: 3rem;
  font-family: cookie;
  text-align: center;
}
.recette-texte h4{
  margin: 10px;
  font-size: 1.8rem;
  font-family: cookie;
  text-align: center;
}
.recette-texte h5{
  margin: 10px;
  font-size: 1.5rem;
  font-family: cookie;
  text-align: center;
}
.recette-texte h6{
  font-weight: bold;
  color: #9E3B20;
}
.recette-texte .icones{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.recette-texte .icones h6{
 text-align: center;
}
.recette-texte .icones .icones-coutDiff{
 display: flex;
 justify-content: center;
 align-content: center;
}
.trait-separation{
  margin: 40px auto;
  height: 2px;
  width: 60%;
  border-top: 1px solid #9E3B20;
}
/* ////////////////////////////////////////////////
***************RESPONSIVE*************************** */
@media screen and (max-width: 325px) {

  h1 {
    font-size: 3rem;
  }
  .accueil{
    margin-top: 35px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }
  .header-texte{
    width: 100%;
  }
  .header-texte h2{
    margin-top: 20px;
    font-size: 2rem;
  }
  .header-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

  }
  .header-image img{
    height: 100%;

  }

  .recette-texte{
    width:200px;
  }
}


@media screen and (min-width: 325px) and (max-width:600px)  {

  .accueil{
    margin-top: 35px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }
  .header-texte{
    width: 100%;
  }
  .header-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

  }
  .header-image img{
    height: 100%;

  }
  h1 {
    font-size: 3rem;
    margin-top: 110px;
  }
  .header-texte h2{
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .header-texte h3{
    margin-top: 20px;
    font-size: 1.5rem;
  }


}
@media screen and (min-width: 600px) and (max-width:800px)  {


  h1 {
    font-size: 3rem;
    margin-top: 110px;
  }

  .header-texte h2{
    margin-top: 20px;
    font-size: 3rem;
  }
  h1 {
      font-size: 4rem;
      margin-top: 110px;
    }
}
@media screen and (min-width: 800px) and (max-width:1000px) {

  .header-texte h2{
    margin-top: 20px;
    font-size: 3.5rem;
  }
  .accueil{
    margin-top: 30px;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }

}

/* ////////////////////////////////////////////////
***************CONTACT*************************** */
#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;

}

#contact h2{
  margin: 10px;
  font-size: 3rem;
  font-family: 'Cookie', cursive;
  text-align: center;
}

.formulaire{
  width: 400px;
align-self: center;


}
.formulaire label{
  width:100%;
  height: 50px;
  margin-top: 20px;

}
.formulaire input{
  width:100%;
  height: 30px;
  color: #040f35;
  font-weight: bold;
  margin-top: 10px;  border-radius: 10px 10px 10px 10px;
  border: 1px solid #9E3B20;
  outline: none;
  text-align: center;

}
.formulaire input p{
  width:100%;
  height: 30px;
  color: #28429E;
  font-weight: bold;

}
.formulaire .message{
  height: 200px;

}
.formulaire .souhait{
  display: flex;
  height: 40px;

}
.formulaire .souhait input{
 width: 30%;
  height: 20px;
}
.formulaire .souhait p{
 align-self: center;
 justify-self: center;
}

/* ////////////////////////////////////////////////
***************RESPONSIVE CONTACT*************************** */
@media screen and (max-width: 325px) {

  h1 {
    font-size: 3rem;
  }
  .accueil{
    margin-top: 35px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }
  .header-texte{
    width: 100%;
  }
  .header-texte h2{
    margin-top: 20px;
    font-size: 2rem;
  }
  .header-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

  }
  .header-image img{
    height: 100%;

  }


  .formulaire {
    width:250px;
  }
}




@media screen and (min-width: 325px) and (max-width:400px)  {

  .accueil{
    margin-top: 35px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }
  .header-texte{
    width: 100%;
  }
  .header-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

  }
  .header-image img{
    height: 100%;

  }
  h1 {
    font-size: 3rem;
    margin-top: 110px;
  }
  .header-texte h2{
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .header-texte h3{
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .formulaire {
    margin-left: 15%;
   }
   

}
@media screen and (min-width: 400px) and (max-width:600px)  {

  .accueil{
    margin-top: 35px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }
  .header-texte{
    width: 100%;
  }
  .header-image{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

  }
  .header-image img{
    height: 100%;

  }
  h1 {
    font-size: 3rem;
    margin-top: 110px;
  }
  .header-texte h2{
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .header-texte h3{
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .formulaire {
    margin-left: 25%;
   }
   

}
@media screen and (min-width: 600px) and (max-width:800px)  {


  h1 {
    font-size: 3rem;
    margin-top: 110px;
  }

  .header-texte h2{
    margin-top: 20px;
    font-size: 3rem;
  }
  h1 {
      font-size: 4rem;
      margin-top: 110px;
    }

    .formulaire {
      margin-left: 25%;
     }
}
@media screen and (min-width: 800px) and (max-width:1000px) {

  .header-texte h2{
    margin-top: 20px;
    font-size: 3.5rem;
  }
  .accueil{
    margin-top: 30px;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 80px 10px 120px 10px;
  }

  .formulaire {
    margin-left: 35%;
   }
}

/* ////////////////////////////////////////////////
***************FOOTER*************************** */
footer p{
  text-align: center;
  font-weight: bold;
  
}